
#AnchorPane {
    -fx-background-color: #2e2e2e;
}

Button {
    -fx-background-color: #777777;
    -fx-text-color: #111111;
}

Button:hover {
    -fx-background-color: #888888;
}

SplitMenuButton {
    -fx-background-color: #777777;  
}

.menu-item {
    -fx-background-color: #777777;
}

TextField {
    -fx-background-color: #777777;
    -fx-text-color: #111111;
}

TextField:hover {
    -fx-background-color: #888888;
}